<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</HEAD>
<body>
<div class="AllInfo">
    <div class="menu">
        <a class="authorization" th:href="@{/api/pharmacy/login}" th:text="#{authorization}"></a>
        <a class="registration" th:href="@{/api/pharmacy/registration}" th:text="#{registration}"></a>
        <a class="about_of_pharmacy" th:text="#{about_of_pharmacy}"></a>
        <a class="pharmacies" th:text="#{pharmacies}" th:href="@{/api/pharmacy/pharmacy}"></a>
        <a class="medicines" th:text="#{medicines}"></a>
    </div>
    <div th:id="forPhoto"></div>
    <form th:action="@{/api/pharmacy/registration}" method="post">
        <div th:class="createObject" th:id="pharmacies" >
            <div class="form-group">
                <label for="name_pharmacy" th:text="#{name_pharmacy}"></label>
                <br>
                <input type="text" id="name_pharmacy" name="name_pharmacy">
            </div>
            <div class="form-group">
                <label for="legal_name_pharmacy" th:text="#{legal_name_pharmacy}"></label>
                <br>
                <input type="text" id="legal_name_pharmacy" name="legal_name_pharmacy">
            </div>
            <div class="form-group">
                <label for="INN" th:text="#{INN}"></label>
                <br>
                <input type="text" id="INN" name="INN">
            </div>
            <div class="form-group">
                <label for="KPP" th:text="#{KPP}"></label>
                <br>
                <input type="text" id="KPP" name="KPP">
            </div>
            <div class="form-group">
                <label for="OGRN" th:text="#{OGRN}"></label>
                <br>
                <input type="text" id="OGRN" name="OGRN">
            </div>

        </div>
        <div th:class="createObject" th:id="pharmaciesSecond">
            <div class="form-group">
                <label for="adress_pharmacy" th:text="#{adress_pharmacy}"></label>
                <br>
                <input type="text" id="adress_pharmacy" name="adress_pharmacy">
            </div>
            <div class="form-group">
                <label for="CITY" th:text="#{CITY}"></label>
                <input type="hidden" th:name="CITY" th:value="${idCity}">
                <input type="text" id="CITY"  th:value="${selectCity}" readonly >
            </div>
            <a th:href="@{/api/pharmacy/pharmacyCreate(addCity=${addCity == false ? true : false})}"
               th:text="#{find}"></a>
            <div class="form-group">
                <label for="REGION" th:text="#{REGION}"></label>
                <br>
                <input type="text" id="REGION" name="REGION" th:value="${selectCityRegion}" readonly>
            </div>
            <div class="form-group">
                <label for="fioInput" th:text="#{administrator}"></label>
                <input type="hidden" th:name="fioInput" th:value="${idAdmin}">
                <input type="text" id="fioInput"  th:value="${selectAdmin}" readonly >
            </div>
            <a th:href="@{/api/pharmacy/pharmacyCreate(addAdministrator=${addAdministrator == false ? true : false})}"
               th:text="#{find}"></a>
            <div class="form-group">
                <label for="POSTAL_CODE" th:text="#{POSTAL_CODE}"></label>
                <br>
                <input type="text" id="POSTAL_CODE" name="POSTAL_CODE">
            </div>
        </div>
        <button type="submit" th:class="ButtonPost" th:id="createPharmacy" th:text="#{create}"></button>
    </form>
    <div th:class="findPerconal" th:if="${addAdministrator == true}">
        <div>
            <form th:action="@{/api/pharmacy/pharmacyCreate/addAdministrator}" method="post">
                <input th:type="text" th:name="addAdministratorName">
                <button th:text="#{find}">
                </button>
            </form>
        </div>
        <div th:id="contentForFindPerconal">
            <ul>
                <li th:each="a : ${addAdministrators}">
                    <div th:id="Transfer">
                        <a th:class="personnelLists" th:href="@{/api/pharmacy/pharmacyCreate(idAdmin=${a.getId()}, selectAdmin=${a.userFio})}">
                            <span th:text="${a.userFio} + ' id: ' + ${a.getId()}"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <a th:href="@{/api/pharmacy/workerCreate}"th:text="#{add}"></a>
            <a th:href="@{/api/pharmacy/pharmacyCreate(addAdministrator=${false})}" th:text="#{cancel}"></a>
        </div>
    </div>
    <div th:class="findPerconal" th:if="${addCity == true}">
        <div>
            <form th:action="@{/api/pharmacy/registration}" method="post">
                <input th:type="text">
                <button th:text="#{find}">
                </button>
            </form>
        </div>
        <div th:id="contentForFindPerconal">
            <ul>
                <li th:each="c : ${cities}">
                    <div th:id="Transfer">
                        <a th:class="personnelLists" th:href="@{/api/pharmacy/pharmacyCreate(
                        selectCity=${c.getName()}, selectCityRegion=${c.getRegion()}, idCity=${c.id})}">
                            <span th:text="${c.getName()}"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <a th:href="@{/api/pharmacy/pharmacyCreate(createCity = ${true})}"th:text="#{add}"></a>
            <a th:href="@{/api/pharmacy/pharmacyCreate(addAdministrator=${false})}" th:text="#{cancel}"></a>
        </div>
    </div>
    <div th:class="findPerconal" th:id="createCity" th:if="${createCity == true}">
        <form th:action="@{/api/pharmacy/pharmacyCreate/createCity}" method="post">
            <label for="createC" th:text="#{CITY}"></label>
            <br>
            <input id="createC"  th:name="name" th:type="text">
            <br>
            <label for="createR" th:text="#{REGION}"></label>
            <br>
            <input id="createR" th:name="region" th:type="text">
            <br>
            <button th:text="#{create}"></button>

        </form>
        <div>
            <a th:href="@{/api/pharmacy/workerCreate(createRole=false, addRole=true)}" th:text="#{cancel}"></a>
        </div>
    </div>
</div>

</body>
</HTML>