<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</HEAD>
<body>
<div class="menu">
    <a th:if="${user == null}" class="authorization" th:href="@{/api/pharmacy/login}" th:text="#{authorization}"></a>
    <a th:if="${user == null}" class="registration" th:href="@{/api/pharmacy/registration}" th:text="#{registration}"></a>
    <a th:if="${user != null}" class="registration" th:href="@{/api/pharmacy/userView(userID=${user.getId()})}" th:text="#{user}"></a>
    <a th:if="${user != null}" class="authorization"  th:text="#{basket}"></a>
    <a class="pharmacies" th:text="#{pharmacies}" th:href="@{/api/pharmacy/pharmacy(userID=${user.getId()})}"></a>
    <a class="medicines" th:text="#{medicines}" th:href="@{/api/pharmacy/medicinePlace(userID=${user.getId()})}"></a>
</div>
    <div class="Entrace">
        <h2 th:if="${error == null}" th:text="#{view.user}"></h2>
        <div th:id="errorCheak" th:if="${error != null}">
            <h2 th:if="${error != null}" th:text="${error}"></h2>
        </div>
        <div class="form-group">
            <label for="login" th:text="#{login}"></label>
            <br>
            <div th:class="view-info" id="login" name="login" th:text="${user.getLogin().isEmpty() ? '': user.getLogin() }"></div>
        </div>
        <div class="form-group">
            <label for="data_of_birt" th:text="#{data_of_birt}"></label>
            <br>
            <div th:class="view-info" id="data_of_birt" name="data_of_birt" th:text="${user.getDataOfBirt() != null ? user.getDataOfBirt() : ''}"></div>
        </div>
        <div class="form-group">
            <label for="phone" th:text="#{phone}"></label>
            <br>
            <div th:class="view-info" id="phone" name="phone" th:text="${user.getPhone() != null ? user.getPhone() : ''}"></div>
        </div>
        <div class="form-group">
            <label for="email" th:text="#{email}"></label>
            <br>
            <div th:class="view-info" id="email" name="email" th:text="${user.getEmail() != null ? user.getEmail() : ''}"></div>
        </div>
        <div class="form-group">
            <label for="fio" th:text="#{fio}"></label>
            <br>
            <div th:class="view-info" id="fio" name="fio" th:text="${user.getFio() != null ? user.getFio() : ''}"></div>
        </div>
        <div class="form-group">
            <label for="passport" th:text="#{passport}"></label>
            <br>
            <div th:class="view-info" id="passport" name="passport" th:text="${user.getPassport() != null ? user.getPassport() : ''}"></div>
        </div>
        <div class="userView">
            <a th:href="@{/api/pharmacy/userEdit(userID=${user.getId()})}" th:id="create" th:text="#{edit}"></a>
            <a th:href="@{/api/pharmacy/userView(userID=${user.getId()}, exitUser=true)}" th:id="create" th:text="#{exit}"></a>
        </div>
    </div>
<div th:class="findPerconal" th:id="okForm" th:if="${exitUser == true}">
    <H3 th:text="#{exitTrue} + ' ' + ${user.getFio()}"></H3>
    <div>
        <a class="forDeleteObject" th:href="@{/api/pharmacy/login}" th:text="#{yes}"></a>
        <a th:href="@{/api/pharmacy/userView(userID=${user.getId()})}"
           th:text="#{no}" class="forDeleteObject"></a>
    </div>
</div>
</body>
</HTML>