<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <HEAD>
        <meta charset="UTF-8">
        <title>Вход</title>
        <link rel="stylesheet" th:href="@{/style.css}">
    </HEAD>
    <body>
        <div class="menu">
            <a class="authorization" th:text="#{authorization}"></a>
            <a class="registration" th:text="#{registration}"></a>
            <a class="about_of_pharmacy" th:text="#{about_of_pharmacy}"></a>
            <a class="pharmacies" th:text="#{pharmacies}"></a>
            <a class="medicines" th:text="#{medicines}"></a>
        </div>
        <div class="AllInfo">
            <div th:id="filter"></div>
            <div th:id="pharmacies"></div>
            <div th:if="${user != null}">
                <p>Добро пожаловать, <span th:text="${user.login}">Имя пользователя</span>!</p>
            </div>
        </div>

    </body>
</HTML>