<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</HEAD>
<body>
    <div class="menu">
        <a class="authorization" th:href="@{/api/pharmacy/login}" th:text="#{authorization}"></a>
        <a class="registration" th:href="@{/api/pharmacy/registration}" th:text="#{registration}"></a>
        <a class="about_of_pharmacy" th:text="#{about_of_pharmacy}"></a>
        <a class="pharmacies" th:text="#{pharmacies}" th:href="@{/api/pharmacy/pharmacy}"></a>
        <a class="medicines" th:text="#{medicines}"></a>
    </div>
    <div th:id="forPhoto"></div>
    <form th:action="@{/api/pharmacy/workerCreate}" method="post">
        <div th:class="createObject" th:id="worker">
            <div class="form-group">
                <label for="id_of_user" th:text="#{id_of_user}"></label>
                <br>
                <input type="hidden" th:name="id_of_user" th:value="${idUser}">
                <input type="text" id="id_of_user"  th:value="${selectUser}" readonly >

            </div>
            <a th:href="@{/api/pharmacy/workerCreate(addUser=${addUser == false ? true : false}, idRole=${idRole},
            selectRole=${selectRole}, idUser=${idUser}, selectUser=${selectUser})}"
               th:text="#{find}"></a>
            <div class="form-group">
                <label for="salary" th:text="#{salary}"></label>
                <br>
                <input type="text" id="salary" name="salary">
            </div>
            <div class="form-group">
                <label for="INN" th:text="#{INN}"></label>
                <br>
                <input type="text" id="INN" name="INN">
            </div>
            <div class="form-group">
                <label for="id_of_role" th:text="#{id_of_role}"></label>
                <br>
                <input type="hidden" th:name="id_of_role" th:value="${idRole}">
                <input type="text" id="id_of_role" th:value="${selectRole}" readonly>
            </div>
            <a th:href="@{/api/pharmacy/workerCreate(addRole=${addRole == false ? true : false}, idRole=${idRole},
            selectRole=${selectRole}, idUser=${idUser}, selectUser=${selectUser})}"
               th:text="#{find}"></a>
            <div class="form-group">
                <label for="education" th:text="#{education}"></label>
                <br>
                <input type="text" id="education" name="education">
            </div>
            <div class="form-group">
                <label for="snils" th:text="#{snils}"></label>
                <br>
                <input type="text" id="snils" name="snils">
            </div>
            <button type="submit" th:class="ButtonPost" th:id="createPharmacy" th:text="#{create}"></button>
        </div>
    </form>
    <div th:class="findPerconal" th:if="${addUser == true}">
        <div>
            <form th:action="@{/api/pharmacy/workerCreate/searchUsers}" method="post">
                <input th:name="searchUser" th:type="text">
                <button th:text="#{find}">
                </button>
            </form>
        </div>
        <div th:id="contentForFindPerconal">
            <ul>
                <li th:each="u : ${users}">
                    <div th:id="Transfer">
                        <a th:class="personnelLists" th:href="@{/api/pharmacy/workerCreate(idUser=${u.getId()}, selectUser=${u.getFio()},
                        idRole=${idRole}, selectRole=${selectRole})}">
                            <span th:text="${u.getFio()} + ' id: ' + ${u.getId()}"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <a th:href="@{/api/pharmacy/workerCreate(addUser=false)}" th:text="#{cancel}"></a>
        </div>
    </div>
    <div th:class="findPerconal" th:if="${addRole == true}">
        <div th:id="contentForFindPerconal">
            <ul>
                <li th:each="r : ${roles}">
                    <div th:id="Transfer">
                        <a th:class="personnelLists" th:href="@{/api/pharmacy/workerCreate(idRole=${r.getId()}, selectRole=${r.getName()},
                        idUser=${idUser}, selectUser=${selectUser})}">
                            <span th:text="${r.getName()}"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <a th:href="@{/api/pharmacy/workerCreate(addRole=false, createRole=true)}"th:text="#{add}"></a>
            <a th:href="@{/api/pharmacy/workerCreate(addRole=false)}" th:text="#{cancel}"></a>
        </div>
    </div>

    <div th:class="findPerconal" th:id="createRole" th:if="${createRole == true}">
        <form th:action="@{/api/pharmacy/workerCreate/createRole}" method="post">
            <input th:name="roleName" th:type="text">
            <button th:text="#{create}"></button>

        </form>
        <div>
            <a th:href="@{/api/pharmacy/workerCreate(createRole=false, addRole=true)}" th:text="#{cancel}"></a>
        </div>
    </div>

</body>
</HTML>